.user__avatar {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 170px;
  max-width: 180px;
}

.user__photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(222, 222, 222, 0.193);
  border-radius: 5px;
  padding: 7px 5px;
  gap: 5px;
}

.avatar {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
}

.initials {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  background-color: rgba(108, 181, 255, 0.697);
  color: white;
  text-transform: capitalize;
  font-size: 14px;
}

.display_name {
  text-transform: capitalize;
  font-size: 14px;
  text-overflow: ellipsis;
  word-wrap: none;
}
