.signin__page {
  width: 100%;
  height: calc(100vh - 60px);
}

.form__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: white;
  padding: 0 50px;
}

.form__container form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.form__heading {
  width: 100%;
  line-height: 1.5;
}

.form__heading h3 {
  font-size: 32px;
  font-weight: 700;
}

.form__heading p {
  color: rgb(123, 123, 123);
  font-weight: 400;
}

.form__labels {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.form__group {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.form__group label {
  font-size: 18px;
  font-weight: 500;
  color: rgb(52, 52, 52);
}

.form__group input {
  width: 100%;
  max-width: 350px;
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid rgba(176, 176, 176, 0.668);
  border-radius: 5px;
  caret-color: dodgerblue;
  background-color: rgba(240, 240, 240, 0.626);
}

.form__group input:focus {
  outline: 2px solid rgba(112, 183, 255, 0.837);
}

.form__group.invalid input:invalid {
  /* outline: 2px solid rgba(112, 183, 255, 0.837); */
  outline: 2px solid rgba(255, 139, 139, 0.681);
}

.forgot__psd {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding-right: 50px;
}

.forgot__psd a {
  color: dodgerblue;
  transition: all 0.25s ease-in-out;
  font-weight: 500;
}

.forgot__psd a:hover {
  text-decoration: underline;
  color: rgb(10, 116, 222);
}

.auth__btn {
  width: 100%;
  padding: 12px 25px;
  border: 0;
  font-size: 18px;
  border-radius: 5px;
  background-color: dodgerblue;
  cursor: pointer;
  max-width: 350px;
  color: white;
  transition: all 0.25s linear;
}

.auth__btn:hover {
  background-color: rgb(9, 121, 233);
}

/* GOOGLE AUTH BUTTON */
.third__party_auth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.google__auth {
  width: 100%;
  border: 1px solid rgba(207, 207, 207, 0.652);
  border-radius: 5px;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  background-color: rgba(186, 2, 2, 0.707);
  max-width: 350px;
  color: white;
  transition: all 0.25s linear;
}

.google__auth:hover {
  background-color: rgba(172, 0, 0, 0.896);
}

.account__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
}

.account__link p {
  max-width: 350px;
  text-align: center;
  margin-right: 30px;
  font-size: 15px;
}

.account__link p span {
  padding-left: 5px;
}

.account__link p span a {
  color: dodgerblue;
  font-weight: 500;
}
.bg__img {
  width: 60%;
  height: 100%;
  background-image: url('../../../assets/pharm2.jfif');
  background-repeat: no-repeat;
  background-size: cover;
}