.cart__page {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(238, 238, 238, 0.419);
  height: calc(100vh - 60px);
  /* height: 100vh; */
  overflow-y: scroll;
  padding: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.goBack {
  margin-bottom: 10px;
}

.goBack button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 8px;
  font-weight: 550;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 100%;
}

.cart {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.cart__hd {
  width: 100%;
  padding: 0 10px;
}

.cart__hd h2 {
  font-size: 22px;
}

.cart__wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.main__cart {
  width: 70%;
  background-color: #fff;
  height: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 3px;
  gap: 10px;
  box-shadow: 0 2px 10px rgba(238, 238, 238, 0.633);
}

.cart__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(191, 191, 191, 0.211);
  padding: 10px 0;
}

.confirm__cart button{
  padding: 8px 15px;
  background-color: dodgerblue;
  cursor: pointer;
  color: white;
  font-size: 15px;
  border-radius: 3px;
  border: 0;
  outline: 0;
}

.cart__lists {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}


.cart__total {
  width: 30%;
  background-color: #fff;
  /* height: 100%; */
  padding: 10px 20px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(238, 238, 238, 0.633);
  position: sticky;
  top: 0;
}