.header {
  width: 100%;
  height: 60px;
  background-color: white;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

.brand a {
  font-size: 20px;
}

.brand a span {
  color: dodgerblue;
}

/* Auth links */
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.auth a {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
}

.signup {
  /* padding: 7px 15px; */
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav .nav__link {
  font-size: 16px;
  color: rgb(69, 69, 69);
  font-weight: 500;
}